@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header .info-bar,
header .brand {
  display: none;
}

header .main-header nav {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #131314dc;
  backdrop-filter: blur(10px);
  animation: curtain 500ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes curtain {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

header .main-header nav .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
}

header .main-header nav .menu ul li {
  padding: 10px;
  width: 300px;
  text-align: center;
}

header .main-header nav .menu ul li:hover {
  background: #272a31;
}

header .main-header nav .menu ul li a {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 32px;
  color: #fff;
}

header .main-header nav .menu ul li a:hover,
header .main-header nav .menu ul li a.active {
  color: #ec5242;
}

header .main-header nav .menu .btn {
  color: #fff;
  border: 3px solid #ec5242;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding: 10px 30px;
}

header .menu-icon i {
  font-size: 30px;
  font-weight: bold;
  color: #272a31;
}

header .main-header nav .menu .btn i {
  animation: infinite 2s bounce;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-20px);
  }

  80%,
  100% {
    transform: translateX(0);
  }
}

header .main-header nav .menu .btn:hover {
  color: #ec5242;
  border: 3px solid #fff;
  padding: 10px 30px;
}

header .menu-icon {
  position: fixed;
  top: 30px;
  left: 30px;
}

/* Main section */

main .home {
  background: url("../images/bg.jpg");
}

main .home .overlay {
  background-color: rgba(255, 255, 255, 0.856);
}

main .home .overlay .content {
  font-family: "lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 30px 20px 0 10px;
  height: 100vh;
  max-width: 500px;
  color: #53555a;
}

main .home .overlay .content .quote {
  color: #ec5242;
  font-size: 25px;
  padding-top: 10px;
  font-weight: 400;
}

main .home .overlay .content h1 {
  color: #ee210bb7;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  -webkit-background-clip: text;
}

main .home .overlay .content .home-text {
  border: 2px solid #fff;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.301);
}

main .home .overlay .content .date {
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

main .home .overlay .content .right {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 20px;
}

/* Program section */

section.program {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background-image: url("../images/bg_program.PNG");
  padding: 60px 10px 60px 10px;
}

section.program .program-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

section.program .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #fff;
}

section.program .title h2 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

section.program .title .line {
  border: 1px solid #ec5242;
  width: 40%;
}

section.program .program-content .program-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.103);
  padding: 15px;
  font-family: "Lato";
}

section.program .program-content .program-card span i {
  font-size: 40px;
  color: #fff;
}

section.program .program-content .program-card h3 {
  font-size: 23px;
  color: #ec5242;
}

section.program .program-content .program-card p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
}

section.program .btn {
  padding: 20px 50px;
  color: #fff;
  background: #f04835;
  border: none;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}

section.program .btn:hover {
  padding: 20px 50px;
  color: #f04835;
  background: #fff;
  border: 3px solid #f04835;
  font-size: 18px;
}

/* Media queries for desktop version */

@media screen and (min-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  }

  header .info-bar {
    display: block;
    background: #272a31;
  }

  header .info-bar ul {
    display: flex;
    justify-content: right;
    margin: 0 120px;
    gap: 20px;
    padding: 5px;
  }

  header .info-bar ul li {
    display: flex;
    justify-content: right;
    align-items: center;
    color: #fff;
  }

  header .info-bar ul li a {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 15px;
  }

  header .info-bar ul li a:hover {
    color: #ec5242;
  }

  header .main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }

  header .main-header .brand {
    display: block;
  }

  header .main-header .brand a img {
    width: 200px;
  }

  header .main-header nav {
    display: block;
    position: relative;
    background: none;
    animation: none;
  }

  header .main-header nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 0;
  }

  header .main-header nav .menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-right: 10px;
  }

  header .main-header nav .menu ul li {
    padding: 0;
    width: inherit;
  }

  header .main-header nav .menu ul li:hover {
    background: none;
  }

  header .main-header nav .menu ul li a {
    font-size: 15px;
    font-weight: 400;
    color: #000;
  }

  header .main-header nav .menu ul li a:hover,
  header .main-header nav .menu ul li a.active {
    color: #ec5242;
    font-weight: 500;
  }

  header .main-header nav .menu .btn {
    color: #ec5242;
    border: 3px solid #ec5242;
    font-size: 15px;
    padding: 10px 20px;
  }

  header .main-header nav .menu .btn i {
    display: none;
    animation: none;
  }

  header .main-header nav .menu .btn:hover {
    color: #fff;
    border: 3px solid #272a31;
    padding: 10px 20px;
    background-color: #ec5242;
  }

  header .menu-icon {
    display: none;
  }

  /* Main section */

  main .home .overlay .content {
    font-family: "lato", sans-serif;
    gap: 20px;
    padding: 30px 0 0 50px;
    max-width: 1200px;
    height: 110vh;
  }

  main .home .overlay .content .quote {
    color: #ec5242;
    font-size: 40px;
  }

  main .home .overlay .content h1 {
    color: #ee220b8f;
    font-family: "Arial Black", sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    -webkit-background-clip: text;
  }

  main .home .overlay .content .home-text {
    padding: 20px;
    max-width: 600px;
  }

  main .home .overlay .content .date {
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    font-size: 35px;
  }

  main .home .overlay .content .right {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 20px;
  }
}
