@import "./assets/header.css";
@import "./assets/footer.css";
@import "./assets/partner.css";

section.program .btn {
  padding: 20px 50px;
  color: #fff;
  background: #f04835;
  border: none;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}

section.program .btn:hover {
  padding: 20px 50px;
  color: #f04835;
  background: #fff;
  border: 3px solid #f04835;
  font-size: 18px;
}

section.speakers button i {
  color: #ec5242;
}

section.speakers button:hover > i {
  color: #fff;
}

/* Main section */

main .home {
  background: url("../images/bg.jpg");
}

main .home .overlay {
  background-color: rgba(255, 255, 255, 0.856);
}

main .home .overlay .content {
  font-family: "lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 30px 20px 0 10px;
  height: 100vh;
  max-width: 500px;
  color: #53555a;
}

main .home .overlay .content .quote {
  color: #ec5242;
  font-size: 25px;
  padding-top: 10px;
  font-weight: 400;
}

main .home .overlay .content h1 {
  color: #ee210bb7;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  -webkit-background-clip: text;
}

main .home .overlay .content .home-text {
  border: 2px solid #fff;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.301);
}

main .home .overlay .content .date {
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

main .home .overlay .content .right {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 20px;
}

/* Section title */

section .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #fff;
}

section .title h2 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

section .title .line {
  border: 1px solid #ec5242;
  width: 40%;
}

/* Program section */

section.program {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background-image: url("../images/bg_program.PNG");
  padding: 60px 10px 60px 10px;
}

section.program .program-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

section.program .program-content .program-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.103);
  padding: 10px;
  font-family: "Lato", sans-serif;
  transition: all 0.3s ease-in-out;
}

section.program .program-content .program-card:hover {
  border: 1px solid #fff;
}

section.program .program-content .program-card span i {
  font-size: 40px;
  color: #fff;
}

section.program .program-content .program-card h3 {
  font-size: 23px;
  color: #ec5242;
  min-width: 100px;
}

section.program .program-content .program-card p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
}

section.program .btn1 {
  display: none;
}

/* Speakers Section */
section.speakers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background: #fff;
  padding: 60px 10px 60px 10px;
}

section.speakers .title h2 {
  color: #272a31;
}

section.speakers .speaker-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

section.speakers .speaker-content .speaker-card {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  max-width: 570px;
}

section.speakers .speaker-content .speaker-card .images {
  position: relative;
  background-image: url("../images/bg_sp.png");
  background-position: top left;
  background-size: 90px;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
}

section.speakers .speaker-content .speaker-card .images img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 120px;
  height: 120px;
}

section.speakers .speaker-content .speaker-card .bio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.speakers .speaker-content .speaker-card .bio h3 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  line-height: 28px;
}

section.speakers .speaker-content .speaker-card .bio .speaker-bio {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  color: #ec5242;
}

section.speakers .speaker-content .speaker-card .bio .line {
  border: 1px solid #a9aaad;
  width: 10%;
  margin-bottom: 10px;
}

section.speakers .speaker-content .speaker-card .bio .speaker-curriculum {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  color: #272a31;
}

section.speakers button {
  min-width: 300px;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #a9aaad;
  background: none;
  color: #53555a;
  transition: all 0.5s ease;
}

section.speakers button:hover {
  color: #fff;
  background: #ec5242;
}

/* Media queries for desktop version */

@media screen and (min-width: 768px) {
  section.program .btn {
    display: none;
  }

  /* Main section */

  main .home .overlay .content {
    font-family: "lato", sans-serif;
    gap: 20px;
    padding: 30px 0 0 50px;
    max-width: 1200px;
    height: 110vh;
  }

  main .home .overlay .content .quote {
    color: #ec5242;
    font-size: 40px;
  }

  main .home .overlay .content h1 {
    color: #ee220b8f;
    font-family: "Arial Black", sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    -webkit-background-clip: text;
  }

  main .home .overlay .content .home-text {
    padding: 20px;
    max-width: 600px;
  }

  main .home .overlay .content .date {
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    font-size: 35px;
  }

  main .home .overlay .content .right {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 20px;
  }

  /* Program section */

  section.program {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-image: url("../images/bg_program.PNG");
    padding: 60px 10px 60px 10px;
  }

  section.program .program-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 0 50px;
  }

  section.program .program-content .program-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.103);
    padding: 15px;
    font-family: "Lato", sans-serif;
    transition: all 0.5s ease;
    max-height: 270px;
  }

  section.program .program-content .program-card:hover {
    border: 1px solid #fff;
  }

  section.program .program-content .program-card span i {
    font-size: 40px;
    color: #fff;
  }

  section.program .program-content .program-card h3 {
    font-size: 18px;
    text-align: center;
    color: #ec5242;
  }

  section.program .program-content .program-card p {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
  }

  section.program .btn1 {
    display: block;
    border: none;
    background: none;
    color: #fff;
    text-decoration: underline;
    text-underline-position: under;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    transition: all 0.5s ease;
  }

  section.program .btn1:hover {
    color: #ec5242;
  }

  /* Speakers Section */

  section.speakers .speaker-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section.speakers .speaker-content .speaker-card {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    max-width: 500px;
  }

  section.speakers .speaker-content .speaker-card .images {
    width: 200px;
    height: 200px;
    background-image: url("../images/images.png");
    background-size: 100px;
  }

  section.speakers .speaker-content .speaker-card .images img {
    max-width: 180px;
    height: 180px;
  }

  section.speakers button {
    display: none;
  }
}
